<div class="roll-builder-attribute roll-action flexcol flex-group-left align-left full-width action-name-{{action}} actor-{{actorId}}">
    <!-- Narrative baseline features -->
    <span class="flex-group-left align-left full-width">
        <i>- 
            {{#if (eq action "narrative-result")}}
            <b>Narrative Result</b>
            {{/if}}

            <!-- Roll Dice modification -->
            {{#if (eq action "roll-level-zero")}}
            <b title="When rolling 0 dice, instead roll 2 dice and suffer -1 Guaranteed Success.">"0 Dice" Rule</b>
            {{/if}}
            {{#if (eq action "explode-crits")}}
            <b title="Every 'Crit' grants a Bonus Die.">Exploding Crits</b>
            {{/if}}

            <!-- Willpower -->
            {{#if (eq action "no-willpower-spend")}}
            You cannot spend Willpower to gain Guaranteed Successes
            {{/if}}
            {{#if (eq action "successes-regenerate-willpower")}}
            Regain one Willpower for every <b>Success</b>
            {{/if}}
            {{#if (eq action "failures-lose-willpower")}}
            Lose one Willpower for every <b>Failure</b>
            {{/if}}
            
            <!-- Group Roll -->
            {{#if (eq action "group-roll")}}
            <b title="This roll's Level will be divided by the target group size before rolling.">Group Challenge</b>
            {{/if}}
        </i>
    </span>
    {{#each data}}
    <span>
        <span>{{{label}}}</span>
        <span>{{value}}</span>
    </span>
    {{/each}}
</div>