<div class="roll-builder-attribute roll-action flexcol flex-group-left align-left full-width action-name-{{action}} actor-{{actorId}}">
    <!-- Narrative baseline features -->
    <span class="flex-group-left align-left full-width">
        <i>- 
            {{#if (eq action "narrative-result")}}
            This roll will include a narrative result.
            {{/if}}

            <!-- Roll Dice modification -->
            {{#if (eq action "no-level-zero")}}
            No dice will be rolled at roll level zero and below.
            {{/if}}
            {{#if (eq action "explode-crits")}}
            Each Crit explodes, rolling an additional die.
            {{/if}}

            <!-- Willpower -->
            {{#if (eq action "successes-regenerate-willpower")}}
            Regain one Willpower for every <b>Success</b>.
            {{/if}}
            {{#if (eq action "failures-lose-willpower")}}
            Lose one Willpower for every <b>Failure</b>.

            {{/if}}
        </i>
    </span>
</div>