<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <img class='profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage'
            data-tooltip='{{actor.name}}' height='100' width='200' />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="resources grid grid-2col"><p>test</p><p>test2</p></div>
        </div>
    </header>
</form>